a {
  color: #0069d9;
  text-decoration: none;
}

a:focus, a:hover {
  color: #606c76;
}

body {
  overflow-x: hidden;
}

.icon-section-header {
  text-align:center;
  vertical-align:middle;
  padding-top: 4px;
}

.panel-section-header {
  text-align:center;
  vertical-align:middle;
}

.form {
  display:flex;
  flex-direction:column;
  row-gap: 10px;
}

label {
  padding-right:12px;
  padding-top:2px;
}

input {
  float:right;
}
